/todo/*
/build/*
/bin/*
.vscode
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/LibSharedMemoryObject/v15/Browse.VC.opendb
/.vs/LibSharedMemoryObject/v15/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/LibSharedMemoryObject/v15/.suo
